body{
    position: relative;
    background-color: rgb(236, 235, 235);
}
.jumbotron{
    background-color: rgb(236, 235, 235);
}
#reports{
    margin-top: -45px;
}

.table td, .table th{
    text-align: center;
    height: 50px;
    background-color: rgb(207, 206, 206);
}
.table th{
    background-color: #187D99;
    color: white;
}

ul.navbar-nav li.nav-item #profile {
    color: #76c5db !important;
    font-size: 20px;
} 
ul.navbar-nav li.nav-item a {
    color: white !important;
    font-size: 18px;
} 
ul.navbar-nav li.nav-item a[tabindex]:focus{
    color: yellow !important;
}